:root {
  --color-app: #c6ceda;
  --box-shadow-3: 0px 10px 24px -9px rgba(24, 58, 108, 0.118881), 0px 12px 11px -13px rgba(24, 58, 108, 0.178322), 0px 3px 17px -8px rgba(24, 58, 108, 0.190751);
  --color-primary: #006add;
  --color-app-light: #f5f9ff;
  --color-app-dark: #828ea3;
  --color-disabled: #9a9a9a;
  --color-warning-light: #fceeee;
  --color-warning: #d11d1d;
  --color-disabled-light: #f6f6f6;
  --color-black: #333;
  --sm-c-card-border-radius: 8px;
}
